<!DOCTYPE html>
<html  ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Camera Shop</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="MainController" ng-cloak>

    <!-- DropDown Menu -->
    <select ng-model="filter" ng-init="filter='rating'">
      <option value="rating">Rating</option>
      <option value="price">Price</option>
    </select>

    <div ng-repeat="camera in data | orderBy: filter" class="camera" ng-cloak>
      <h4 ng-cloak>{{camera.title}}</h4>
      <img ng-src="{{camera.image}}" alt="cameraImage" class="cameraImage" />
      <p ng-show="camera.onSale" ng-class="{'yellow': camera.onSale}">
        Price: {{camera.price | currency}} ON SALE!!
      </p>
      <p ng-hide="camera.onSale">
        Price: {{camera.price | currency}}
      </p>
      <h5>Rating: {{camera.rating}}</h5>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="main.js"></script>
  </body>
</html>
